<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 changeText>
    Welcome to {{ title }}!
  </h1>
</div>

<div style="margin-top: 40px;">
  Today's Date: {{servicedate}}
</div>

<div style="margin-top: 40px;">
  <app-new-cmp></app-new-cmp>
</div>

<div style="margin-top: 40px;"> 
  Months :
   <select (change) = "changemonths($event)">
      <option *ngFor="let i of months">{{i}}</option>
   </select>
</div>

<div style="margin-top: 40px;"> 
  <span *ngIf="isavailable; else condition1">
    Condition is valid.
  </span>
  <ng-template #condition1>
    Condition is invalid
  </ng-template>
</div>

<div style="margin-top: 40px;"> 

  <button (click) = "btnClick($event)" >
    Submit
  </button>
</div>

<div style="margin-top: 40px;"> 
  <h2> Pipes Tutorial </h2>
  <h3> Lowercase Pipe </h3>
  <p> {{ title | lowercase }} </p>
  <br>
  <h3> Uppercase Pipe </h3>
  <p> {{ title | uppercase }} </p>
  <br>
  <h3> Currency Pipe </h3>
  <p> {{ 123456.12 | currency:"USD" }} </p>
  <br>
  <h3>Date pipe</h3>
  <p>{{todaydate | date:'d/M/y'}}</p>
  <p>{{todaydate | date:'shortTime'}}</p>
  <br>
  <h3>Decimal Pipe</h3>
  <p>{{ 454.78787814 | number: '3.1-5' }}</p> 
  <br>
  <h3>Json Pipe</h3>
  <p>{{ jsonVal | json }}</p>
  <br>
  <h3>Percent Pipe</h3>
  <p>{{00.54565 | percent}}</p>
  <br>
  <h3>Slice Pipe</h3>
  <p>{{months | slice:2:6}}</p> 
  <br>
</div>

<div style="margin-top: 40px;"> 
  <a routerLink = "new-cmp">New component</a>
</div>


<div style="margin-top: 40px;"> 
  <router-outlet></router-outlet>
</div>

<div style="margin-top: 40px;"> 

  <h1> Test Response </h1>

  <button (click) = "getResponse()">
    Post data
  </button>

</div>
<!-- <h1>
  Posts
</h1>

<div *ngFor="let post of posts">
<h4>{{post.title}}</h4>
<p> {{post.body}} </p>
</div> -->